.bg {

  width: 1200px;
  margin: 20px;
  padding: 20px;
  background-color: #f8f8f6;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  padding-left: 20%;
}

.tit-his {
  margin-bottom: 30px;
}

.tit-his h1 {
  color: #000000;
  margin-left: 5%;
}

.table {
  margin-top: 30px;
  background-color: #ffffff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  width:fit-content;
  padding: 10px;
}

.table th,
.table td {
  padding: 10px;
  text-align: center;
}

.table thead {
  background-color: #edba60;
  color: #ffffff;
}

.table tbody tr:hover {
  background-color: #f0f0f0;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.btn {
  margin-left: 10px;
  background-color: #edba60;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover {
  background-color: #fa8b03;
}

.btn:active {
  transform: translateY(1px);
}
