<!-- Background image -->
<div class="p-5 text-center bg-image" style="
   background-image: url('../../../assets/1/panne-voiture.jpg');
   height: 400px;
 ">
  <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
    <div class="d-flex justify-content-center align-items-center h-100">
      <div class="text-white">
        <h1 class="mb-3 uppercase" style="color:white"> EJRILI TOUJOURS AVEC TOI </h1>


      </div>
    </div>
  </div>
</div>
<!-- Background image -->
<div class="row title">
  <h2 class="text-dark text-center uppercase">VOS REMORQUAGE</h2>
</div>
<table class="table tab-remo table-bordered">
  <thead class="bg-warning">
    <tr>
      <th class="text-center" scope="col">Nom</th>
      <th class="text-center" scope="col">Prenom</th>
      <th class="text-center" scope="col">Date</th>
      <th class="text-center" scope="col">Destination</th>
      <th class="text-center" scope="col">Etat</th>
      <th class="text-center" scope="col">Camion Matricule</th>
      <th class="text-center" scope="col">Action</th>

    </tr>
  </thead>
  <tbody>
  <tbody>
    <tr *ngFor="let d of demandes">
      <td>{{d.user.nom}}</td>
      <td>{{d.user.prenom}}</td>
      <td>{{d.Demande.Date}}</td>
      <td>{{d.Demande.Destination }}</td>
      <td>{{ d.Demande.Etat === 'P' ? "en cours": d.Demande.Etat === 'T' ? "Terminer" : "chauffeur en route"}}</td>

      <td>{{d.camion.matricule }}</td>
      <td>
        <!--  <button class="btn btn-outline-dark btn-lg bg-red" (click)="sendtocreateinv(d.Demande.demandesId)">Create
          INTERVENTION</button> -->
        <button class="btn btn-outline-dark btn-lg bg-red" *ngIf="d.Demande.Etat == 'R'"
          (click)="terminalRemorquage(d.Demande.demandesId)">Terminer</button>
      </td>
      <td>


      </td>

      <!--                   <td>
        sélectionnez un camion
        <select class=" form-select" aria-label="Default select example">
          <option *ngFor="let c of camions" [value]="c.id">{{c.marque}}</option>
          </select>
          <button class="btn btn-primary">accepter</button>
          <br><br>
      </td> -->
    </tr>
  </tbody>
</table>