<!-- <div *ngIf="!current">
  <app-navb></app-navb>
</div>
<div *ngIf="current">
  <app-navbar></app-navbar>
</div> -->
<header>
  <!-- section header -->
  <section id="carouselExampleControls" class="carousel slide vh-100" data-mdb-ride="carousel">
    <!-- Background image -->
    <div class="p-5 text-center bg-image" style="
      background-image: url('../../../assets/1/2...1.jpg');
      height: 600px;
    ">
      <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
        <div class="d-flex justify-content-center align-items-center h-100">
          <div class="text-white">
            <h1 class="mb-3 uppercase" style="color:white"> EJRILI TOUJOURS AVEC TOI </h1>
          </div>
        </div>
      </div>
    </div>
    <!-- Background image -->
  </section>
</header>

<!-- ======= Counts Section ======= -->
<section id="counts" class="counts" style="margin-top: 100px;">
  <div class="container" data-aos="fade-up">

    <div class="row no-gutters">
      <div class="image col-xl-5 d-flex align-items-stretch justify-content-center justify-content-lg-start"
        data-aos="fade-right" data-aos-delay="100"></div>
      <div class="col-xl-7 ps-0 ps-lg-5 pe-lg-1 d-flex align-items-stretch" data-aos="fade-left" data-aos-delay="100">
        <div class="content d-flex flex-column justify-content-center">
          <h1 class="fw-bolder" style=" color:#edba60;">EJRILI</h1>
          <p> 
        Entreprise de remorquage a pour objectif de fournir des services de remorquage efficaces et fiables aux clients qui ont besoin d'assistance pour déplacer leurs véhicules. Notre objectif de gestion est de développer une réputation solide en offrant un service de qualité, en maintenant des normes élevées de professionnalisme et en répondant aux besoins spécifiques de chaque client.
          </p>
          <div class="row">
            <div class="col-md-6 d-md-flex align-items-md-stretch">
              <div class="count-box">
                <i class="bi bi-emoji-smile"></i>
                <span data-purecounter-start="0" data-purecounter-duration="2" class="purecounter"></span>
                <p><strong class="text-uppercase">Clients heureux</strong><br> C'est le but de notre service et nous
                  espérons toujours développer et persuader.</p>
              </div>
            </div>

            <div class="col-md-6 d-md-flex align-items-md-stretch">
              <div class="count-box">
                <i class="bi bi-clock"></i>
                <span data-purecounter-start="0" data-purecounter-end="35" data-purecounter-duration="4"
                  class="purecounter"></span>
                <p><strong class="text-uppercase">Des années d'expérience</strong><br> Nous avons beaucoup appris et
                  nous efforçons toujours de prouver notre présence pour vous servir</p>
              </div>
            </div>
          </div>
        </div><!-- End .content-->
      </div>
    </div>

  </div>
</section><!-- End Counts Section -->

<!-- ======= Services Section ======= -->
<section id="services" class="services mt-5">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>Services</h2>
      <p>Consultez notre services</p>
    </div>

    <div class="row">
      <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100"></div>
      <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">

        <div class="icon-box">
          <div class="icon1"><img src="(../../../assets/1/iconerm.png)" alt=""></div>
          <h4><a>Remorquage</a></h4>
          <p> Un Service dans laquelle un véhicule dépourvu de moyen de propulsion est tiré par un autre auquel il est
            attaché.</p>
        </div>
      </div>



      <div class="col-lg-3 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="300">
        <div class="icon-box">
          <div class="icon2"><img src="(../../../assets/1/gara.png)" alt=""></div>
          <h4><a>Garage</a></h4>
          <p> Entreprise commerciale d'un garagiste, s'occupant de la garde, des réparations et de l'entretien des
            automobiles.</p>
        </div>
      </div>

    </div>

  </div>
</section><!-- End Services Section -->

<!-- ======= Team Section ======= -->
<section id="team" class="team">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>Avis des visiteurs</h2>
    </div>

    <div class="container text-center">
      <div class="row">
        <div class="col">
          <div class="member-info text-center ">
            <img src="../../../assets/1/PicsArt_05-15-11.16.59.png" style="height: 200px; width: 200px;">
            <div class="member-info text-center ">
              <h3>Zeyneb Melki</h3>
              <span>Je suis heureux pour mon pays d'avoir une entreprise de cette maîtrise du service</span>

            </div>
          </div>
        </div>
        <div class="col">
          <div class="member-info text-center ">
            <img src="../../../assets/1/PicsArt_05-15-11.17.49.png" style="height: 200px; width: 200px;">
            <div class="member-info text-center ">
              <h3>Abderahmen Zreg</h3>
              <span>Excellent travail avec le potentiel pour que les meilleurs restent toujours au top</span>

            </div>
          </div>
        </div>
        <div class="col">
          <div class="member-info text-center ">
            <img src="../../../assets/1/PicsArt_05-15-11.17.19.png" style="height: 200px; width: 200px;">
            <div class="member-info text-center ">
              <h3>Amel Rehouma</h3>
              <span>Bravo,j'ai été satisfait de votre service et du plus haut niveau de professionnalisme </span>

            </div>
          </div>
        </div>
        <div class="col">
          <div class="member-info text-center ">
            <img src="../../../assets/1/PicsArt_05-15-11.18.51.png" style="height: 200px; width: 200px;">
            <div class="member-info text-center ">
              <h3>Rasslen Saad</h3>
              <span>Je suis impressionnée par votre travail, j'espère que vous continuerez dans cette voie</span>

            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- End Team Section -->

<!-- ======= Team Section ======= -->

<section id="team" class="team">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>L'Équipe</h2>
      <p>Consultez notre équipe</p>
    </div>

    <div class="row">

      <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
        <div class="member" data-aos="fade-up" data-aos-delay="100">
          <div class="member-img">
            <img src="../../../assets/1/hamaa.jpg" class="img-fluid" alt="" style="height:252px; width: 252px;">
          </div>
          <div class="member-info text-center ">
            <h3>Dali Ben Jaber</h3>
            <span>Chef de la direction</span>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
        <div class="member" data-aos="fade-up" data-aos-delay="400">
          <div class="member-img">
            <img src="../../../assets/1/Yuma.jpg" class="img-fluid" alt="" style="height:252px; width: 252px;">
          </div>
          <div class="member-info text-center ">
            <h3>Mariem Thabet</h3>
            <span> Responsable Relations Sociales</span>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
        <div class="member" data-aos="fade-up" data-aos-delay="200">
          <div class="member-img">
            <img src="../../../assets/1/Saadia.jpg" class="img-fluid" alt="" style="height:252px; width: 252px;">

          </div>
          <div class="member-info text-center ">
            <h3>Saadia Badri</h3>
            <span>Comptable</span>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
        <div class="member" data-aos="fade-up" data-aos-delay="300">
          <div class="member-img">
            <img src="../../../assets/1/jacer.jpg" class="img-fluid" alt="" style="height:252px; width: 252px;">

          </div>
          <div class="member-info text-center">
            <h3>Jacer Guiza</h3>
            <span>Expert automobile</span>
          </div>
        </div>
      </div>


    </div>

  </div>
</section>
<!-- End Team Section -->



<script src="./main.js"></script>