<!-- Navbar Start -->
<div class="container-fluid p-0">
  <nav class="navbar navbar-expand-lg navbar-light " style="background-color:#edba60;">

  <a routerLink="" class="navbar-brand ml-lg-3">
      <img
      src="../../../assets/1/ejrili.jpeg"
      height="65"
      alt="Ejrili Logo"
      style="margin-left: 60px;"
    />
    </a>

        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav" style="margin-left:-200px;">
        <div class="navbar-nav m-auto py-0">

          <ul class="navbar-nav me-auto">
              <li class="nav-item">
                <a class="nav-link active" routerLink="/">Accueil
                  <span class="visually-hidden">(current)</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/REGISTER">S'inscrire</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/CONNEXION">Connexion</a>
              </li>


            </ul>

            </div>

        </div>
    </nav>
</div>
<!-- Navbar End -->



