/* Section Header */
header {
  margin-top: 40px;
  margin-bottom: 40px;
}

.carousel {
  height: 400px;
}

.bg-image {
  background-size: 100%;
  border: 10px solid #edba60;
  border-radius: 70%;
  margin-top: 35px;
  position: relative;
  animation: up-and-down 2s ease-in-out infinite;
}

.mask {
  background-color: rgba(16, 13, 5, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-white {
  color: white;
}

/* Contact Section */
section {
  margin-bottom: 0;
}

.con {
  margin-top: 50px;
  margin-bottom: 20px;
}

.h1-responsive {
  text-align: center;
  margin-top: 4rem;
  margin-bottom: 1rem;
}

.text-center {
  text-align: center;
}

.w-responsive {
  width: 100%;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.mb-5 {
  margin-bottom: 5rem;
}

.contact-form {
  margin-top: 10px;
  margin-bottom: 30px;
}

#contact-form {
  margin-bottom: 30px;
}

.md-form {
  margin-bottom: 0;
  margin-left: 50px;
}

.md-form.mb-0 {
  margin-bottom: 0;
}

label {
  display: block;
  color: #333;
  font-weight: bold;
}

.form-control {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: border-color 0.3s ease;
}

.form-control:focus {
  outline: none;
  border-color: #edba60;
  box-shadow: 0 0 5px rgba(237, 186, 96, 0.5);
}

.textarea {
  resize: vertical;
}

.btn-envoyer {
  background-color: #edba60;
  color: black;
  margin-top: 20px;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.btn-envoyer:hover {
  background-color: #e3a84d;
}

.btn-envoyer:active {
  background-color: #c98f3d;
}

.list-unstyled {
  margin-bottom: 20px;
}

.list-unstyled li {
  margin-bottom: 20px;
}

.map-container {
  height: fit-content;
  margin-bottom: 30px;
}

/* Animation */
@keyframes up-and-down {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

/* Google Map */
#map-container-google-2 {
  margin-left: 50px;
  margin-top: 20px;
  z-index: 1;
}
