<div class="menu">
<li class="menu-item">
  <a>
    <span class="menu-icon">
      <i class="fa-solid fa-user"></i>    </span>
    Utilisateurs
  </a>
  <ul class="submenu">
    <li>
      <a routerLink="/admin/GARAGE">
        GARAGISTES
      </a>
    </li>
    <li>
      <a routerLink="/admin/Users">
        CHAUFFEURS
      </a>
    </li>
  </ul>
</li>

<li class="menu-title active">
  <a routerLink="/admin/Avis">
    <span class="menu-icon">
      <i class="fa-solid fa-clipboard-check"></i>
    </span>
    Avis
  </a>
</li>

<li class="menu-title">
  <a routerLink="/admin/cammion">
    <span class="menu-icon">
      <i class="fa-sharp fa-solid fa-car"></i>  </span>
    Camions
  </a>
</li>

<li class="menu-title">
  <a routerLink="/admin/REMORQUAGE">
    <span class="menu-icon">
      <i class="fa-solid fa-newspaper"></i>    </span>
    Demandes
  </a>
</li>
</div>
