<!-- Footer -->
<footer class="text-center text-lg-start text-muted">



  <div class="row d-flex ">
    <div class="col-2 mt-4">
      <div class="rounded-circle shadow-1-strong "
        style="width: 70px; height: 70px ; background-color:#edba60;margin-bottom: 20px;margin-left: 70px; ">
        <img src="../../../assets/1/ejrili.jpeg" height="45" alt="Ejrili logo"
          style="margin-right: 20px;margin-top: 15px" />
      </div>
    </div>
    <div class="col-4 mt-5"><i class="fas fa-home me-3 text-secondary"></i> Gabès, Avenue Farhat Hached 6000, TN</div>
    <div class="col-3 mt-5"> <i class="fas fa-envelope me-3 text-secondary"></i>
      Ejrili@gmail.com</div>
    <div class="col-3 mt-5"> <i class="fas fa-phone me-3 text-secondary"></i> + 216 28 160 667</div>
  </div>
  <ul class="text-center d-flex" style="margin-left: 45%;">
    <li  style="margin-bottom: 5%;margin-right: 5%;">
      <a class="btn btn-outline-black btn-floating " href="#!" role="button" style="background-color:#dcdada"><i
          class="fab fa-facebook-f"></i></a>
    </li>
    <li style="margin-bottom: 5%;margin-right: 5%;">
      <a class="btn btn-outline-black btn-floating" href="#!" role="button" style="background-color:#dcdada"><i
          class="fab fa-google"></i></a>
    </li>
    <li>
      <a class="btn btn-outline-black btn-floating" href="#!" role="button" style="background-color:#dcdada"><i
          class="fab fa-linkedin-in"></i></a>
    </li>
  </ul>


</footer>
<!-- Footer -->
